extends default

block header

block content
  div.recipe_card
    div.recipe_card-image(style=`background: url('/images/${recipe.imgSrc}') top center
    no-repeat; background-size: cover;`)
    div.recipe_card-details
      h1.recipe_card-name
        | #{recipe.name} 
      h2.recipe_card-category
        | #{recipe.category}
      p.recipe_card-description
        | #{recipe.description}


