<!DOCTYPE html>
<html>
  <head>
    <title>Ingredients JSON DB Example</title>
    <meta name="description" content="Lowdb JSON // Ingredients" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1>Create recipe by Ingredient(s)</h1>
    </header>

    <main>
      <p>
        <input
          type="button"
          style="margin: 10px 0"
          onclick="populateSelect()"
          value="Click to Populate SELECT with JSON"
        />
      </p>

      <!--The SELECT element-->
      <select id="sel" onchange="show(this)">
        <option value="">-- Select --</option>
      </select>

      <!--Upon selection will populate with ID / Name of Ingredient-->
      <p id="msg"></p>

      <!--Send POST request to update backend JSON to include added ingredient-->
      <form
        action="/new"
        method="POST"
        enctype="application/x-www-form-urlencoded"
        id="form1"
      >
        <input
          name="ingredient"
          type="text"
          maxlength="100"
          value=""
          placeholder="Add an ingredient"
          id="ingredient"
        />
        <button type="submit">Add</button>
      </form>

      <!--ingredients.json currently in temp JSON database for recipe-->
      <section class="ingredients">
        <ul id="ingredients"></ul>
      </section>

      <!--Reset the temp JSON database to default-->
      <p><a href="/reset">Reset</a></p>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/client.js"></script>
    <script>
      function populateSelect() {
        // Need to figure out how to push backend to frontend
        // Need to move this JSON out of <script>
        var ingredients = [
          { id: 1, name: "Egg" },
          { id: 2, name: "Bacon" },
          { id: 3, name: "Tomato" },
          { id: 4, name: "Heavy cream" },
          { id: 5, name: "Garlic" },
          { id: 6, name: "Tofu" },
          { id: 7, name: "Veggie bacon" },
          { id: 8, name: "Beyond Meats bacon" },
          { id: 9, name: "Almond milk" },
          { id: 10, name: "Oat milk" },
          { id: 11, name: "Parmesan cheese" },
          { id: 12, name: "Onions" },
          { id: 13, name: "Pasta" },
        ];

        var ele = document.getElementById("sel");
        for (var i = 0; i < ingredients.length; i++) {
          // Populate select element with JSON values
          ele.innerHTML =
            ele.innerHTML +
            '<option value="' +
            ingredients[i]["id"] +
            '">' +
            ingredients[i]["name"] +
            "</option>";
        }
      }

      function show(ele) {
        // Get the selected value from <select> element and present id and name
        var msg = document.getElementById("msg");

        msg.innerHTML =
          "Selected Ingredient: <b>" +
          ele.options[ele.selectedIndex].text +
          "</b> </br>" +
          "id: <b>" +
          ele.value +
          "</b>";

        // Populate form input box with selected ingredient so user does not need to type
        var input_box = document.getElementById("ingredient");
        input_box.value = ele.options[ele.selectedIndex].text;
      }
    </script>
  </body>
</html>
